@model List<NotificacaoModel>

<div class="col-12 col-md-8 mx-auto">
    <!-- Card mais largo -->
    <div class="card" style="position: sticky; top: 0; z-index: 100; min-height: 400px; max-height: 600px; overflow-y: auto;">
        <!-- Header de Notificações -->
        <div class="card-header text-center">
            <h4 class="m-0">Notificações</h4>
        </div>
        <ul class="list-group">
            @if (Model != null && Model.Any())
            {
                foreach (var notificacao in Model)
                {
                    <li class="list-group-item d-flex align-items-center">
                        <a class="text-decoration-none text-dark d-flex align-items-center" asp-controller="Usuario" asp-action="Perfil" asp-route-id="@notificacao.UsuarioOrigem">
                            <img src="@Url.Content(notificacao.UsuarioOrigemModel.ImagemPerfil)" class="rounded-circle" alt="Foto do Perfil" style="width: 60px; height: 60px; object-fit: cover;">

                            <p class="mb-0 ms-3"><strong>@notificacao.UsuarioOrigemModel.Username</strong></p>
                        </a>

                        @if (notificacao.Notificacao == NotificacaoEnum.CurtidaPost)
                        {
                            <div class="ms-2">
                                <small class="text-muted">curtiu seu post. - @notificacao.DataCriacao.TempoDecorridoPost()</small>
                            </div>
                            <div class="ms-2 ms-auto">
                                @if (!string.IsNullOrEmpty(notificacao.Post?.ImagemPost?.FirstOrDefault()))
                                {
                                    <img src="@Url.Content(notificacao.Post.ImagemPost.First())" alt="Post" width="70" height="70">
                                }
                            </div>
                        }
                        else if (notificacao.Notificacao == NotificacaoEnum.ComentarioPost)
                        {
                            <div class="ms-2">
                                <small class="text-muted">comentou seu post. - @notificacao.DataCriacao.TempoDecorridoPost()</small>
                            </div>
                            <div class="ms-2 ms-auto">
                                @if (!string.IsNullOrEmpty(notificacao.Post?.ImagemPost?.FirstOrDefault()))
                                {
                                    <img src="@Url.Content(notificacao.Post.ImagemPost.First())" alt="Post" width="70" height="70">

                                }
                            </div>
                        }
                        else
                        {
                            <div class="ms-2">
                                <small class="text-muted">seguiu você. - @notificacao.DataCriacao.TempoDecorridoPost()</small>
                            </div>
                        }

                    </li>

                }
            }
            else
            {
                <li class="list-group-item text-secondary text-center">Nenhuma notificação disponível.</li>
            }
        </ul>
    </div>
</div>

