@model List<UsuarioModel>

@{
    var usuarioLogado = ViewBag.UsuarioLogado as UsuarioModel;
}

<div class="d-flex flex-column justify-content-start align-items-center m-5">
    <h3 class="mb-3">O que você procura?</h3>
    <div class="input-group" style="max-width: 700px; width: 100%;">
        <input type="text" class="form-control" placeholder="Pesquisar..." aria-label="Pesquisar">
        <button class="btn btn-primary" type="button">
            <i class="bi bi-search"></i>
        </button>
    </div>
</div>


<!-- Card Menor Centralizado -->
<div class="d-flex flex-column justify-content-start align-items-center">
    <div class="card mt-4 shadow" style="max-width: 600px; width: 100%;">
        <div class="card-header text-center">
            <h5>Sugestões para seguir</h5>
        </div>
        <ul class="list-group list-group-flush">
            @if (Model.Any())
            {
                foreach (var sugestao in Model.Take(10))
                {
                    <li class="list-group-item d-flex align-items-center">
                        <a class="text-decoration-none text-secondary d-flex align-items-center" asp-controller="Usuario" asp-action="Perfil" asp-route-id="@sugestao.Id">
                            <img src="@Url.Content(sugestao.FotoPerfil)" alt="User" class="rounded-circle" width="30" height="30">
                            <div class="ms-2">
                                <p class="mb-0"><strong>@sugestao.Nome</strong></p>
                            </div>
                        </a>
                        <div class="ms-auto">
                            <form asp-controller="Seguidor" asp-action="SeguirEDeseguir" method="post">
                                <input type="hidden" name="seguindoId" value="@sugestao.Id.ToString()" />
                                <input type="hidden" name="usuarioId" value="@usuarioLogado.Id" />
                                @if (usuarioLogado.Seguidores != null && usuarioLogado.Seguidores.Contains(sugestao.Id.ToString()))
                                {
                                    <button type="submit" class="btn btn-dark btn-sm">Seguir de volta</button>
                                }
                                else
                                {
                                    <button type="submit" class="btn btn-dark btn-sm">Seguir</button>
                                }
                            </form>
                        </div>
                    </li>
                }
            }
            else
            {
                <li class="list-group-item text-center">Nenhuma sugestão disponível.</li>
            }
        </ul>
    </div>
</div>

