@model UsuarioModel

@{
    var posts = ViewBag.PostsDoUsuario as List<PostModel>;
    var usuarioLogadoId = ViewBag.UsuarioLogadoId as string;
    bool perfilDoUsuarioLogado = ViewBag.PerfilDoUsuarioLogado as bool? ?? false;
}

<div class="container mt-3">
    <div class="d-flex mb-4 position-relative">
        <!-- Foto de Perfil -->
        <div class="mx-4">
            <img src="@Url.Content(Model.ImagemPerfil)" class="rounded-circle border border-4 border-dark" alt="Foto do Perfil" style="width: 200px; height: 200px; object-fit: cover;">
        </div>

        <!-- Informações do Usuário -->
        <div class="mb-1">
            <div class="d-flex align-items-center mb-0">
                <!-- Nome do Usuário -->
                <h3 class="mb-0">@Model.Nome</h3>
            </div>
            <p class="fw-bold mb-2">@@@Model.Username</p>
            <div class="d-flex gap-4 mb-2">
                <a class="text-decoration-none text-secondary" href="#postsSection"><strong>@posts.Count</strong> posts</a>
                <a class="text-decoration-none text-secondary" asp-controller="Usuario" asp-action="Seguidores" asp-route-id="@Model.Id"><strong>@Model.Seguidores.Count</strong> seguidores</a>
                <a class="text-decoration-none text-secondary" asp-controller="Usuario" asp-action="Seguindo" asp-route-id="@Model.Id"><strong>@Model.Seguindo.Count</strong> seguindo</a>
                <span><strong>@Model.CidadesVisitadas.Count</strong> cidades no mapa</span>
            </div>
            <p class="mb-1">
                <i class="bi bi-geo-alt"></i> @Model.CidadeDeNascimento
            </p>
            <p class="mb-2">@Model.Bio</p>
        </div>

        @if (usuarioLogadoId == Model.Id)
        {
            <!-- Botões no canto superior direito -->
            <div class="position-absolute top-0 end-0 mt-3 me-2 d-flex">
                <a class="btn btn-outline-dark" asp-controller="Usuario" asp-action="EditarPerfil" asp-route-id="@Model.Id">
                    <i class="bi bi-pencil p-1">  Perfil</i>
                </a>
            </div>
        }
        else
        {
            <div class="d-flex mt-3 ms-5">
                <form class="seguirOuDeseguirForm" data-seguindo-id="@Model.Id.ToString()" data-usuario-id="@usuarioLogadoId" method="post">
                    @if (Model.Seguidores == null || !Model.Seguidores.Contains(usuarioLogadoId))
                    {
                        <button type="submit" class="btn btn-dark"> Seguir </button>
                    }
                    else
                    {
                        <button type="submit" class="btn btn-outline-dark"> Seguindo </button>
                    }
                </form>
            </div>

        }
    </div>

    <!-- Mapa -->
    <div class="container mt-2 mb-3 d-flex justify-content-center border-top border-bottom border-dark" style="display:none;">
        <div class="m-3" id="map" style="height: 350px; width: 90%;"></div>
        <div id="dadosCidades" data-cidades='@Html.Raw(Json.Serialize(Model.CidadesVisitadas))'></div>
        <div id="cidadeNascimento" data-cidadeNascimento="@Model.CidadeDeNascimento"></div>
    </div>

    <!-- Feed de Posts -->
    <div class="row g-3 pb-5 mx-3" id="postsSection">
        @if (posts != null && posts.Any())
        {
            foreach (var post in posts)
            {
                <div class="col-6 col-md-4">
                    <div class="position-relative">
                        <img src="@Url.Content(post.ImagemPost.FirstOrDefault())"
                             class="img-fluid rounded"
                             alt="Imagem do Post"
                             style="object-fit: cover; width: 100%; height: 350px;"
                             data-bs-toggle="modal"
                             data-bs-target="#postModal_@post.Id">
                    </div>
                </div>

                <!-- Modal do Post -->
                <div class="modal fade" id="postModal_@post.Id" tabindex="-1" aria-labelledby="postModalLabel_@post.Id" aria-hidden="true">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <div class="modal-body p-0">
                                <div class="row g-0">
                                    <!-- Carrossel de Imagens -->
                                    <div class="col-md-7">
                                        <div id="carouselPostImages_@post.Id" class="carousel slide" data-bs-ride="carousel">
                                            <div class="carousel-inner">
                                                @foreach (var imagem in post.ImagemPost)
                                                {
                                                    <div class="carousel-item @(imagem == post.ImagemPost.First() ? "active" : "")">
                                                        <img src="@Url.Content(imagem)" class="d-block w-100" alt="Imagem do Post" style="height:600px; width:600px; object-fit: cover;">
                                                    </div>
                                                }
                                            </div>
                                            <!-- Controles do Carrossel -->
                                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselPostImages_@post.Id" data-bs-slide="prev">
                                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                <span class="visually-hidden">Anterior</span>
                                            </button>
                                            <button class="carousel-control-next" type="button" data-bs-target="#carouselPostImages_@post.Id" data-bs-slide="next">
                                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                <span class="visually-hidden">Próximo</span>
                                            </button>
                                        </div>

                                    </div>

                                    <!-- Informações do Post -->
                                    <div class="col-md-5 d-flex flex-column">
                                        <!-- Header do Post -->
                                        <div class="d-flex align-items-center border-bottom p-3">
                                            <img src="@Url.Content(Model.ImagemPerfil)" alt="Foto de Perfil" class="rounded-circle" style="width: 40px; height: 40px; object-fit: cover;">
                                            <div>
                                                <h5 class="ms-3 mb-0 fw-bold">@Model.Nome</h5>
                                                <p class="ms-3 mb-0">@post.Localizacao</p>
                                            </div>
                                            <div class="ms-auto">
                                                @if (Model.Id == usuarioLogadoId)
                                                {
                                                    <a class="btn btn-outline-dark btn-sm ms-auto" asp-controller="Post" asp-action="EditarPost" asp-route-id="@post.Id"><i class="bi bi-pencil"> Editar</i></a>
                                                }
                                            </div>
                                        </div>

                                        <!-- Legenda e Comentários -->
                                        <div class="flex-grow-1 p-3 overflow-auto">
                                            <!-- Legenda -->
                                            <div>
                                                <p class="mb-1"><strong>@Model.Username</strong> @post.Legenda</p>
                                            </div>

                                            <!-- Comentários -->
                                            <div class="comentariosLista mt-3" data-post-id="@post.Id" style="max-height: 320px; overflow-y: auto; word-wrap: break-word;">
                                                @if (post.Comentarios.Any())
                                                {
                                                    foreach (var comentario in post.Comentarios)
                                                    {
                                                        <div id="comentario-@comentario.Id" class="mb-2" style="position: relative;">
                                                            <p class="mb-0 ps-2" style="white-space: pre-wrap;"><strong>@comentario.UsuarioUsername</strong> @comentario.Comentario</p>

                                                            @if (usuarioLogadoId == Model.Id || comentario.UsuarioId == usuarioLogadoId)
                                                            {
                                                                <form class="deleteComentarioForm" method="post" style="position: absolute; top: 0; right: 0;">
                                                                    <input type="hidden" name="id" value="@comentario.Id" />
                                                                    <button type="submit" class="border-0 bg-transparent">
                                                                        <i class="bi bi-trash text-secondary"></i>
                                                                    </button>
                                                                </form>
                                                            }
                                                        </div>
                                                    }
                                                }
                                            </div>


                                        </div>

                                        <!-- Área de Interações -->
                                        <div class="border-top p-3">
                                            <!-- Botão de Curtida -->
                                            <div class="d-flex align-items-center mb-3">

                                                <form class="d-inline">
                                                    <input type="hidden" name="postId" value="@post.Id" />
                                                    <button type="button"
                                                            class="btn p-0 curtida-btn @(post.Curtidas != null && post.Curtidas.Contains(usuarioLogadoId) ? "text-danger" : "text-secondary")"
                                                            data-post-id="@post.Id">
                                                        <i class="bi @(post.Curtidas != null && post.Curtidas.Contains(usuarioLogadoId) ? "bi-heart-fill fs-4" : "bi-heart fs-5")"></i>
                                                    </button>
                                                </form>

                                                <span class="ms-2">@post.Curtidas?.Count curtidas</span>
                                                <i class="bi bi-chat fs-5 ms-2"></i>
                                                <span class="ms-2">@post.Comentarios.Count comentários</span>
                                                <p class="mb-0 text-muted ms-auto">@post.DataCriacao.TempoDecorridoPost()</p>

                                            </div>

                                            <!-- Formulário de Adicionar Comentário -->
                                            <form class="addComentarioForm d-flex">
                                                <input type="hidden" name="postId" value="@post.Id" />
                                                <div class="input-group">
                                                    <span class="input-group-text text-secondary"><i class="bi bi-chat"></i></span>
                                                    <input type="text" name="comentario" class="form-control" placeholder="Adicionar um comentário..." maxlength="100" required />
                                                    <button type="submit" class="btn btn-dark">Publicar</button>
                                                </div>
                                            </form>

                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="col-12 text-center">
                <p class="text-muted">Ainda não há posts para mostrar.</p>
            </div>
        }
    </div>
</div>
